---
import { nanoid } from 'nanoid';
import type { PortfolioSection, Project } from '@/types/sections/portfolio-section.types';
import Description from '@/web/components/description.astro';
import LabelledValue from '@/web/components/labelled-value.astro';
import LinkButton from '@/web/components/link-button.astro';
import Photo from '@/components/photo.astro';
import TagsList from '@/web/components/tags-list.astro';
import Timestamp from '@/web/components/timestamp.astro';
import Typography from '@/web/components/typography.astro';
// import Thumbnail from '@/web/components/thumbnail.astro';
import Publication from '@/web/components/publication.astro';

export interface Props extends Project {
  screenshotsConfig?: PortfolioSection['config']['screenshots'];
}

const {
  description,
  details,
  authors,
  image,
  links,
  paperLinks,
  published,
  name,
  tagsList,
  screenshots,
  screenshotsConfig,
} = Astro.props;

const alt = `${name} project thumbnail`;

const galleryId = nanoid(8);
const hasScreenshots = screenshots?.length && screenshots.length > 0;
const screenshotsIcon = screenshotsConfig?.icon || 'fa6-solid:image';
const screenshotsTooltip = screenshotsConfig?.title || 'Screenshots';
---

<!-- <div class="inline-grid w-full  xl:grid-cols-2"></div> --><!-- <div class="flex flex-col gap-0"> --><!-- <div class="grid grid-cols-2 md:grid-cols-1 gap-1"> -->
<div class="inline-grid xl:grid-cols-[auto_auto]">
  <div class="flex flex-col gap-0">
    <div class="flex gap-6">
      <div class="flex w-full flex-col gap-4">
        <div class="flex gap-4">
          <Publication src={image} alt={alt} size="large" />
          <div class="flex w-full justify-between">
            <div>
              <Typography variant="item-title">{name}</Typography>

              <!-- Authors List -->
              <!-- <div class="flex flex-wrap gap-x-1  mb-2 mt-1 text-base text-gray-700"> -->
              <div class="mb-2 mt-1 flex flex-wrap gap-x-1 text-base text-gray-700 dark:text-gray-300">
                {
                  authors.map((author, index) => (
                    <span>
                      <a
                        style="font-variant: unset"
                        href={author.homepageLink}
                        target="_blank"
                        rel="noopener noreferrer"
                        class={`
                        hover:text-blue-600
                        transition-colors
                        ${author.isBold ? 'font-semibold' : 'font-light'}
                        decoration-blue-400
                        underline-offset-4
                        hover:underline
                      `}
                      >
                        {author.name}

                        {author.isCorresponding && <sup class="text-blue-500 font-bold">#</sup>}
                        {author.isEqual && <sup class="text-blue-500 font-bold">*</sup>}
                      </a>
                      {index < authors.length - 1 && <span class="text-gray-500">,&nbsp;</span>}
                    </span>
                  ))
                }
              </div>

              <!-- Publication Info -->
              <!-- <div class="text-gray-600 mb-2 mt-0"> -->
              <div class="mb-2 mt-0 text-gray-700 dark:text-gray-300">
                {published}
              </div>

              <div class="mb-0">
                <div class="flex flex-wrap gap-3">
                  {
                    paperLinks.map((link) => (
                      <span>
                        <a
                          style="font-variant: small-caps"
                          style="font-variant: unset"
                          href={link.url}
                          class="inline-flex  items-center rounded-md bg-gray-100  px-2 py-1 text-gray-700 transition-colors hover:bg-gray-200"
                        >
                          {link.text}
                        </a>
                      </span>
                    ))
                  }
                </div>
              </div>

              <!-- <Timestamp dates={dates} /> -->
            </div>
            <!-- <div class="flex gap-2">
              {links.map((link) => <LinkButton {...link} />)}
              {
                hasScreenshots && (
                  <LinkButton icon={screenshotsIcon} name={screenshotsTooltip} as="button" data-gallery={galleryId} />
                )
              }
            </div> -->
          </div>
        </div>
        <div class="inline-grid w-full xl:grid-cols-[auto_auto]">
          {details.map((detail) => <LabelledValue {...detail} />)}
        </div>
      </div>
    </div>
    <Description content={description} class="col-span-3 col-start-1" />
  </div>
  <TagsList {...tagsList} />
  <div class="hidden" id={galleryId}>
    {screenshots?.map((screenshot) => <Photo {...screenshot} />)}
  </div>
</div>

<script>
  import type { PhotoSwipeOptions, DataSource } from 'photoswipe';

  const buttons = [...document.querySelectorAll('[data-gallery]')] as HTMLButtonElement[];

  if (buttons.length > 0) {
    import('photoswipe/style.css');

    const getOptionsForButton = (button: HTMLButtonElement): PhotoSwipeOptions => {
      const galleryId = String(button.dataset.gallery);
      const galleryWrapper = document.getElementById(galleryId) as HTMLElement;
      const screenshots = [...galleryWrapper.children] as HTMLImageElement[];
      const dataSource: DataSource = screenshots.map((img) => ({
        src: img.src,
        width: img.width,
        height: img.height,
        alt: img.alt,
      }));

      return { dataSource, showHideAnimationType: 'none', index: 0 };
    };

    import('photoswipe').then(({ default: PhotoSwipe }) => {
      buttons.forEach((button) =>
        button.addEventListener('click', () => {
          new PhotoSwipe(getOptionsForButton(button)).init();
        })
      );
    });
  }
</script>
